@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  
}



nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background:  #1A1C20 ;
  display: flex;
  flex-direction: column;
  
}
ul{
  list-style: none;
}

.logo{
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.movie-categories{
  margin-bottom: 3rem;
}
.movie-categories li{
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.movie-categories li:hover{
 background: rgb(66, 84, 93);
 border-left: 3px solid #0CD0FC ;
 color: #0CD0FC ;
}

.categorie-active{
  background: rgb(66, 84, 93);
  border-left: 3px solid #0CD0FC ;
  color: #0CD0FC ;
}

.movie-sub-categories li{
  padding: 1rem 2rem;
  cursor: pointer;
 color:  #ECEBEE ;
  letter-spacing: 1px;
}
.movie-sub-categories li:hover{
  background: rgb(66, 84, 93);
  border-left: 3px solid #0CD0FC ;
  color: #0CD0FC ;
 }


 
 .categories-header{
  padding: 1rem 2rem;
   color:#95878B;
   text-transform: uppercase;
 }
/* home */

.home{
  
  margin-left: 250px;
  background: #222A31;
}
.search{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: #1A1C20;

}

.search input{
  background: #222A31;
  border-radius: 30px;
  padding: 1rem 1rem 1rem 3rem ;
  border:none;
  color: #fff;
  display: inline-block;
  transition: all 0.2s;
  width: 300px;
  font-size: 1.1rem;

}
.search input:focus{
  outline: none;
  transition: all 0.2s ease-out;
  width: 400px;
}
.box{
  position: relative;
}
.search img{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px ,1fr));
  
  grid-gap: 30px;
  padding: 2rem;
  min-height: 90vh;
  
  
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.spinner img{
  width: 500px;
}

.movie{
  position: relative;
  cursor: pointer;
  animation: fade-in 1s 1 backwards ;
  transition: 0.5s;
  /* box-shadow: 6px 7px 11px 0px rgba(0,0,0,0.28),-6px -7px 11px 0px rgba(0,0,0,0.28); */
}
.rating{
  position: absolute;
  top: -15px;
  left: 50%;
  background: #f1c40f;
  padding: 0.2rem 0.5rem;
  color: black;
  transform: translate(-50%);
  
}
.rating i{
  margin-right: 5px;
}
@keyframes fade-in{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
.movie:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.movie h1{
padding: 1rem 0;
font-size: 1.2rem;
}
.movie h2{
  padding: 0.5rem 0;
  font-size: 0.8rem;
  }
.movie img{
width: 100%;
border-radius: 10px;

}
.container{
  width: 70%;
  margin: 0 auto;
}

.movie-detail{
  position: relative;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  z-index: 1;
}




.movie-detail::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(170, 170, 170, 0) 0%, #000000 93.75%);
  z-index: -1;
}

.details{
 z-index: 1;
 display: flex;
}
.details-extra{
  margin-left: 20px;
}



a{
  text-decoration: none;
  color: #fff;
}
.genres{
  display: flex;
}
.genres h4{
  border-left: 2px solid white;
  padding: 0.5rem 1rem;
}
.summary{
background: #161130;
padding: 2rem 0;
}
.mb{
  margin-bottom: 1rem;
}
.swiper-container {
  width: 100%;
  height: 300px;
}
.poster{
  width: 150px;
  border-radius: 10px;
}
.title{
  font-size: 2.5rem;
}

/* stars */

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}
/* end stars */

